.sidebar {
  width: 280px;
  background-color: #2c2c3e;
  color: white;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 100;
  height: 100vh;
}

.mobileOpen {
  transform: translateX(0%);
}

.active {
  background-color: #202029;
  color: #ffffff !important;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  height: 60px;
  border-bottom: 1px solid #575656;
}

.mobileCloseBtn {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  display: none;
}

.headerLogo {
  display: none;
}

.headerLogo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.sidebarScrollArea {
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebarScrollArea::-webkit-scrollbar {
  width: 6px;
}

.sidebarScrollArea::-webkit-scrollbar-track {
  background: #1e1e2f;
}

.sidebarScrollArea::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 3px;
}

.sidebarNav {
  padding: 0 0 16px 0;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: block;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #dfdff7;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.navLink:hover {
  background-color: #202029;
}

.navLabel {
  margin-left: 10px;
}

.dropdownContainer {
  transition: all 0.3s ease;
}

.open .dropdownIcon {
  transform: rotate(90deg);
}

.dropdownIcon {
  margin-left: auto;
  transition: transform 0.3s;
}

.dropdownMenu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding-left: 0px;
  transition: max-height 0.5s ease;
}

.dropdownLink {
  font-size: 14px;
  color: #d7d7eb;
  padding: 8px 0px 8px 45px;
  display: block;
}

@media (max-width: 768px) {
  .mobileCloseBtn {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
  }

  .mobileOpen {
    transform: translateX(0);
  }

  .headerLogo {
    display: block;
  }
}

@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
  }

  .sidebarHeader {
    display: none;
  }
}